.movies-page .btn{
    /* background-color:#9BA2F8; */
}
.movie-card{
    /* background: linear-gradient(0turn, #5DE5CA, #f8f9fa, #f8f9fa); */
    color:#212529 !important;
    background: #f8f9fa !important;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 0 !important;
}
.movie-card img{
    border-bottom: 5px solid #5DE5CA;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.movie-info{
    padding: 8px;
}

.info-flex{
    display: flex;
    align-items: baseline;
    gap: 7px;
}

.movie-card h5{
    font-size: 18px;
    font-weight: 700;
}